---
import AdminLayout from "@/layouts/AdminLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import Button from "@/components/Button.astro";
import FileGroupCard from "@/components/files/FileGroupCard.astro";
import FileModals from "@/components/files/FileModals.astro";
import { Icon } from "astro-icon/components";

export const prerender = false;

const { id } = Astro.params;
---

<AdminLayout title="Documenti Cliente">
  <div x-data={`customerFilesPage('${id}')`} x-init="init()">
    <PageHeader
      back="/admin/customers"
      titleExpr="'Documenti di ' + customerName"
      subtitleExpr="customerPhone"
    >
      <Button
        variant="outline"
        x-on:click="uploadModal = true; uploadLabel = ''; uploadError = ''"
      >
        <Icon name="material-symbols-light:upload" class="w-4 h-4" />
        Carica file
      </Button>
    </PageHeader>

    <template x-if="loading">
      <p class="text-center text-neutral-500 py-8">Caricamento...</p>
    </template>

    <template x-if="!loading && groups.length === 0">
      <p class="text-center text-neutral-500 py-8">Nessun documento caricato</p>
    </template>

    <div class="space-y-6">
      <template x-for="g in groups" :key="g.id">
        <FileGroupCard />
      </template>
    </div>

    <FileModals />
  </div>

  <script>
    import Alpine from "alpinejs";
    import customerFilesPage from "@/alpine/customerFilesPage";

    document.addEventListener("alpine:init", () => {
      customerFilesPage(Alpine);
    });
  </script>
</AdminLayout>
