@import "tailwindcss";

@theme {
  --font-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-sans: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --color-petrol-50: #f0f8fa;
  --color-petrol-100: #d9eef3;
  --color-petrol-200: #b3dde7;
  --color-petrol-300: #7ec4d4;
  --color-petrol-400: #4eaabf;
  --color-petrol-500: #3591a7;
  --color-petrol-600: #29778d;
  --color-petrol-700: #236374;
  --color-petrol-800: #1e5160;
  --color-petrol-900: #163a46;
}

[x-cloak] { display: none !important; }