---
import AdminLayout from "@/layouts/AdminLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import Button from "@/components/Button.astro";
import UsersTable from "@/components/settings/UsersTable.astro";
import SettingsModals from "@/components/settings/SettingsModals.astro";
import { Icon } from "astro-icon/components";

export const prerender = false;
---

<AdminLayout title="Impostazioni">
  <div x-data={`usersPage('${Astro.locals.user?.id}')`} x-init="fetchUsers()">
    <PageHeader title="Impostazioni" />

    <div class="mb-8">
      <SectionHeader title="Utenti">
        <Button variant="outline" x-on:click="openCreate()">
          <Icon
            name="material-symbols-light:person-add-outline"
            class="size-4"
          />
          Nuovo Utente
        </Button>
      </SectionHeader>

      <UsersTable />
    </div>

    <SettingsModals />
  </div>

  <script>
    import Alpine from "alpinejs";
    import usersPage from "@/alpine/usersPage";

    document.addEventListener("alpine:init", () => {
      usersPage(Alpine);
    });
  </script>
</AdminLayout>
