---
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "flex flex-col items-center justify-center gap-2 py-8",
    className,
  ]}
>
  <Icon
    is:inline
    name="material-symbols-light:progress-activity"
    class="size-6 animate-spin text-petrol-500"
  />
</div>
