---
interface Props {
  title: string;
}

const { title } = Astro.props;
const hasActions = Astro.slots.has("default");
---

<div class:list={["flex items-center mb-4", hasActions && "justify-between"]}>
  <h2 class="text-sm font-medium text-neutral-900 uppercase tracking-wider">
    {title}
  </h2>
  {hasActions && <slot />}
</div>
