---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CenteredHeader from "@/components/CenteredHeader.astro";
import PinForm from "@/components/shared-files/PinForm.astro";
import FileList from "@/components/shared-files/FileList.astro";
import LoadingState from "@/components/LoadingState.astro";

export const prerender = false;

const { token } = Astro.params;
---

<BaseLayout title="Documenti Condivisi" noindex>
  <div
    class="min-h-screen flex justify-center pt-16 sm:pt-8 sm:pb-8 sm:items-center p-4"
    x-data={`magicFiles('${token}')`}
  >
    <div class="w-full max-w-lg">
      <CenteredHeader subtitle="Documenti condivisi" />

      <div
        class="bg-neutral-50 border border-neutral-200 rounded-xl p-6 shadow-sm"
      >
        <template x-if="!data && !loading">
          <PinForm />
        </template>

        <template x-if="data">
          <FileList />
        </template>

        <template x-if="loading">
          <LoadingState />
        </template>
      </div>
    </div>
  </div>

  <script>
    import Alpine from "alpinejs";
    import magicFilesPage from "@/alpine/magicFilesPage";

    document.addEventListener("alpine:init", () => {
      magicFilesPage(Alpine);
    });
  </script>
</BaseLayout>
