---
import "@/styles/global.css";

interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
  noindex?: boolean;
}

const {
  title,
  description,
  bodyClass = "bg-neutral-50 text-neutral-900 font-sans antialiased",
  noindex = false,
} = Astro.props;
---

<html lang="it" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Dott. Talamona" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    {description && <meta name="description" content={description} />}
    <title>{title}</title>

    <slot name="head" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
