---
import DataTable from "@/components/DataTable.astro";
import Th from "@/components/Th.astro";
import Td from "@/components/Td.astro";
import IconButton from "@/components/IconButton.astro";
import EmptyState from "@/components/EmptyState.astro";
import LoadingState from "@/components/LoadingState.astro";
import { Icon } from "astro-icon/components";
---

<template x-if="loading && users.length === 0">
  <LoadingState />
</template>

<template x-if="!loading && users.length === 0">
  <EmptyState
    icon="material-symbols-light:group-outline"
    title="Nessun utente trovato"
  />
</template>

<template x-if="users.length > 0">
  <DataTable>
    <thead>
      <tr>
        <Th>Nome</Th>
        <Th>Email</Th>
        <Th align="right">Azioni</Th>
      </tr>
    </thead>
    <tbody>
      <template x-for="u in users" :key="u.id">
        <tr>
          <Td x-text="u.name" />
          <Td muted x-text="u.email" />
          <Td align="right">
            <template x-if="u.id !== currentUserId">
              <div class="inline-flex gap-1">
                <IconButton
                  variant="danger"
                  x-on:click="confirmRemove(u)"
                  title="Elimina utente"
                >
                  <Icon
                    is:inline
                    name="material-symbols-light:delete-outline"
                    class="size-4"
                  />
                </IconButton>
              </div>
            </template>
          </Td>
        </tr>
      </template>
    </tbody>
  </DataTable>
</template>
